<div class="container__small-card">
  <div><img src="https://th.bing.com/th/id/R.d8a74c2ecb243be072d5da8ad9ea607a?rik=yV8SEcLrdmMABg&pid=ImgRaw&r=0" width="150px" height="150px" alt=""></div>
  <div class="content">
    <h1><a href="#">Lorem ipsum dolor.</a></h1>
    <p><a href="#">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus repellat tempore fuga enim id mollitia accusamus voluptates quas qui expedita asperiores suscipit eveniet dolores animi, quidem modi, quisquam deserunt ipsam.</a></p>
  </div>
</div>
